<!doctype html>
<html ng-app="myApp">
    <head>
{#        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>#}
        <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.1.4/angular-sanitize.min.js"></script>
        <script>



        var app = angular.module('myApp', [])
        app.controller('Ctrl1', function($scope, testFactory) {
            //`$scope.name = 'angular';
            $scope.visible = {status : false};
            $scope.arr = ['first', 'second', 'third'];
            $scope.click = function(num){
                $scope.num = num
            }

            $scope.someText = testFactory.get();

            $scope.change = function(){
                testFactory.set($scope.someText);
                //alert(testFactory.get());
                //$scope.someText = testFactory.get()
            }

        })
        app.controller('Ctrl2', function($scope, testFactory) {

            //$scope.someText = testFactory.text
            //$scope.someText = testFactory.get();

        })

        app.factory('testFactory', function(){
            text = 'Hello World'
            return {
                set : function(value){
                    text=value;
                    alert('set value :' + text)
                },
                get : function(){
                    alert('get value :' + text)
                    return text
                },
                text : text
            }
        })

    </script>
    <head>

    <body>
        <div ng-controller="Ctrl1">
            Name <input ng-model="name"> <hr/>
             <div contentEditable="true" ng-model="name">Name</div>
            name = <span ng-bind="name"></span> <br/>
            name = <span >{{ num }}</span> <br/>
            <hr/>
            <br/>
            arr-addr <input ng-model="addr"><br/>
            arr [addr] <input ng-model="arr[addr]"><br/>
            arr : <span ng-bind="arr"></span><br/>
            arr : <span >{{ arr }}</span><br/>
            arr : <span ng-non-bindable>{{ arr }}</span><br/>
            <span ng-bind-template="arr : {{ arr }}"></span><br/>
            <span ng-bind-template="arr length : {{ arr.length }}"></span><br/>
            <ul>
                <li ng-repeat="num in arr">{{ $index+1 }} : {{ num }}
                    <button ng-click="click(num)">{{ $index+1 }}</button>
                </li>
            </ul>

            <hr/>
            <br/>
            <input type="checkbox" ng-model="visible.status">change
            <p ng-show="visible.status">first block</p>
            <p ng-hide="visible.status">second block</p>

            <p ng-if="!visible.status">first block 2</p>
            <p ng-if="visible.status">second block 2</p>

            <hr/>
            Ctrl1 <input ng-model="someText" ng-change="change()"><br/>
        </div>
        <div ng-controller="Ctrl2">
            Ctrl2 <input ng-model="someText">
            <hr/>
        </div>
    </body>
</html>
