<!doctype html>
<html ng-app="myApp">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--script src="http://code.angularjs.org/1.1.4/angular.min.js"></script-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="ng-infinite-scroll.js"></script>
    <style type="text/css">
        li {
            height: 120px;
            background: cadetblue;
            border-bottom: 1px solid gray;
        }
        .fixed {
            height: 400px;
            overflow: auto;
        }
    </style>

    <script>
        var app = angular.module('myApp', ['infinite-scroll']);
/*
        app.directive('whenScrolled', function ($window) {
            return function (scope, elm, attr) {
                // элемент высоту которого просматриваем
                var raw = elm[0];
                elm.bind('dcroll', function () {
                    alert('may i scroll?')
                    if (raw.scrollTop + raw.offsetHeight >= raw.scrollHeight) {
                        //
                        scope.$apply(attr.whenScrolled);
                    }
                });
            };
        });*/

        app.controller('RequestsCtrl', function ($scope) {
            $scope.images = [1, 2, 3, 4, 5, 6, 7, 8];

            $scope.loadMore = function() {
                var last = $scope.images[$scope.images.length - 1];
                for(var i = 1; i <= 12; i++) {
                    $scope.images.push(last + i);
                }
            };
        });

            /*$scope.test= 'test';
            $scope.items = [];
            var counter = 0;
            $scope.loadMore = function () {
                alert('get data')
                for (var i = 0; i < 10; i++) {
                    $scope.items.push({
                        id: counter
                    });
                    counter += 10;
                }
            };
            $scope.loadMore();
        });*/

    </script>

</head>
<body ng-controller="RequestsCtrl" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
    <!--div when-scrolled="loadMore()">
        <ul>
            <li ng-repeat="i in items"> </li>
        </ul>
    </div-->

    <div >
        <img ng-repeat='image in images' ng-src='http://placehold.it/200x200&text={{image}}'>
    </div>

</body>
</html>
