
.status_active{
    background-color: #f5f2a7;
}

.status_complete{
    background-color: #a9eeb5;
}

.status_overdue{
    background-color: #ffb39b;
}

table {
    margin-top: 30px;
}
    table th{
        cursor: pointer;
    }

    .editTitle {
        cursor: default;
    }

.requestForm .form-control {
    margin-top: 5px;
}

.ng-invalid.ng-dirty{
  border-color: #f27d7d;
}
.ng-valid.ng-dirty{
  border-color: #88e26a;
}

.performersPage form{
    margin-top: 20px;
}

.text-muted{
    color: #aaa;
}

.out-num{
    padding-right: 0px;
}

.cursor{
    cursor: pointer;
}