{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>

{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>#}
{#    <script src="{% static '/static/js/index.js' %}"></script>#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/bootstrap.css" %}">
{#    <link href="{% static '/static/css/bootstrap-responsive.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/index.css" %}">

{#    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>#}
{#    <script src="http://code.angularjs.org/1.1.4/angular-sanitize.min.js"></script>#}
{#    <script src="http://code.angularjs.org/1.1.4/angular-route.min.js"></script>#}
{#    <script src="http://code.angularjs.org/1.1.4/angular-cookies.min.js"></script>#}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/{{ settings.ANGULAR_VERSION }}/angular-animate.min.js"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/{{ settings.ANGULAR_VERSION }}/angular-sanitize.min.js"></script>#}

{#    <script src="http://code.angularjs.org/1.1.4/angular-resource.js"></script>#}

    <script>
{#        var app = angular.module('myApp', [])#}
        var app = angular.module("myApp", ['ngRoute', 'ngCookies']);
        app.run(['$http','$cookies', function($http, $cookies)
        {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;
            $http.defaults.headers.put['X-CSRFToken'] = $cookies.csrftoken;
        }]);

        app.factory('requestFactory', function(){
            return {
                requestId: null,
                request: null
            };
        })

        app.factory('pages', function(){
            return {
                requestList : 'requestTable',
                requestDetail : 'requestForm',
                performers : 'performerForm'
            }
        })

        app.factory('getErrorMessage', function(){
            return function(data, status, headers, config){
                var errorMessage = 'Error';
                return data;
            }
        })


        app.directive('whenScrolled', function() {
            return function(scope, elm, attr) {
                var raw = elm[0];

                elm.bind('scroll', function() {
                    if (raw.scrollTop + raw.offsetHeight >= raw.scrollHeight) {
                        scope.$apply(attr.whenScrolled);
                    }
                });
            };
        });

{#        app.config($locationProvider.html5Mode(true));#}
{#        app.config(['$locationProvider', function($locationProvider) {#}
{#                $locationProvider.html5Mode(true);#}
{#            }#}
{#        ]);#}
{#        app.config(function($routeProvider){#}
{#            $routeProvider#}
{#                .when('/requests', {#}
{#                    templateUrl: 'RequestTable',#}
{#                    controller: 'RequestsCtrl'#}
{#                })#}
{#                .when('/requests/form', {#}
{#                    templateUrl: 'RequestForm',#}
{#                    controller: 'RequestFormCtrl'#}
{#                })#}
{#                .when('/requests/form/:id', {#}
{#                    templateUrl: 'RequestForm',#}
{#                    controller: 'RequestFormCtrl'#}
{#                })#}
{#                .when('/performers/form', {#}
{#                    templateUrl: 'PerformerForm',#}
{#                    controller: 'PerformerCtrl'#}
{#                })#}
{#                .otherwise({#}
{#                    redirectTo: '/requests'#}
{#                })#}
{#        });#}


        // Общий контроллер + навигация
        app.controller('BodyCtrl', function ($scope, $http, requestFactory, pages) {
            $scope.virtualPage = pages.requestList;

            $scope.redirect = function(page){
                $scope.virtualPage = page;
            }

            $scope.setRequestForm = function(){
                $scope.virtualPage = pages.requestDetail;
                $scope.$broadcast('clearForm');
            }
        });


        // Контроллер отображения всех заявок
        app.controller('RequestsCtrl', function ($scope, $http, requestFactory, pages) {

            $http.get('{% url 'api_request_list' %}')
                .success(function(data, status, headers, config) {
                    $scope.requests = data.results;
                });

            $scope.edit = function(request){
                requestFactory.request = request;
            };

            $scope.requestEdit = function(id){
                requestFactory.requestId = id;
                $scope.redirect(pages.requestDetail);
            };

            $scope.rowClass = function(request){
                if(request.out_number){
                    return 'bg-success';
                }
                else{
                    var curr_date = new Date().valueOf();
                    var out_date = new Date(request.performance_date.replace(/(\d+)-(\d+)-(\d+)/, '$1/$2/$3')).valueOf();
                    if(curr_date > out_date){
                        return 'bg-danger';
                    }
                    else{
                        return 'bg-warning';
                    }
                }
            };





        });


        // Контроллер формы Создания/редактирования заявки
        app.controller('RequestFormCtrl', function($scope, $http, $routeParams, $cookies, requestFactory, pages, getErrorMessage){
            $scope.$on('clearForm', function(){
                $scope.request = null;
            });

            // Получаем JSON с исполнителями
            getPerformerList = function(){
                $http.get('{% url 'api_performer_list' %}')
                    .success(function(data, status, headers, config) {
                        $scope.performers = data;
                        // Инициализация исполнителя в выподающем списке
                        $scope.request.performer = getPerformer($scope.request.performer, $scope.performers);
                    })
                    .error(function(data, status, headers, config ){
                        console.log('edit data error ');
                        $scope.error = {
                            status : status,
                            headers :headers,
                            config : config,
                            data : data
                        };
                        console.log($scope.error)
                    })
            }

            // Получаем id заявки для редактирования
            var id = requestFactory.requestId;
            requestFactory.requestId = null;
            if(id){
                // Получаем данные заявки
                $http.get('{% url 'api_request_list' %}'+ id +'/')
                    .success(function(data) {
                        $scope.request = data;
                        getPerformerList();
                    });
            }
            else{                // Устанавливаем сегодняшнюю входящую дату для новой заявки
                getPerformerList();
                var today = new Date();
                var day = today.getDate();
                var month = today.getMonth() + 1;
                var year = today.getFullYear();
                var todayFormat =  year + '-' + (month > 10 ? '' : '0') + month + '-' + (day > 10 ? '' : '0') + day;
                $scope.request = { filling_date : todayFormat };
            }



            // Создаем новую или редактируем старую заявку
            $scope.saveRequest = function(data, form) {
                if (form.$valid) {
                    $scope.error = undefined;
                    if ($scope.request.id){
                        // Edit request
                        // заменяем объект исполнителя на id исполнителя
                        if (data.out_number == ''){
                            data.out_number = null;
                        }
                        data.performer = data.performer.id
                        $http.put('{% url 'api_request_list' %}'+ $scope.request.id +'/', data)
                            .success(function(data, status, headers, config){
                                console.log('request success updated');
                                $scope.redirect(pages.requestList);
                            })
                            .error(function(data, status, headers, config ){
                                console.log('edit data error ');
                                $scope.error = getErrorMessage(data, status, headers, config);
{#                                $scope.error = {#}
{#                                    status : status,#}
{#                                    headers :headers,#}
{#                                    config : config,#}
{#                                    data : data#}
{#                                };#}
                                console.log($scope.error)
                            })
                    }
                    else{
                        // Create request
                        $scope.formData = data;
                        data.performer = data.performer.id
                        $http.post('{% url 'api_request_list' %}', data)
                            .success(function(data, status, headers, config){
                                console.log('request success created');
                                $scope.redirect(pages.requestList);
                            })
                            .error(function(data, status, headers, config ){
                                alert('error request create');
                                console.log('edit data error ');
                                $scope.error = getErrorMessage(data, status, headers, config);
{#                                $scope.error = {#}
{#                                    status : status,#}
{#                                    headers :headers,#}
{#                                    config : config,#}
{#                                    data : data#}
{#                                };#}
                                console.log($scope.error)
                            })
                    }
                }
                else {
                    $scope.error = 'Ошибка при заполнении полей'
                }
            };

            var getPerformer = function(id, performers){
                for (var i=0; i < performers.length; i++){
                    if (performers[i].id == id){
                        return performers[i];
                    }
                }
            };
        });

        // Контроллер исполнителей
        app.controller('PerformerCtrl', function($scope, $http, pages){
            $scope.test = 'test test test test'
            $scope.save = function(data, form){
                if (form.$valid){
                    $http.post('{% url 'api_performer_list' %}', {"name": data})
                        .success(function(data){
                            alert(data)
                        })
                        .error(function(){
                            alert('error')
                        });
                }
            }

            $scope.items = [];
            var counter = 0;
            $scope.loadMore = function() {
                for (var i = 0; i < 10; i++) {
                    $scope.items.push({id: counter});
                    counter += 10;
                }
            };
        });





    </script>
</head>
<body ng-controller="BodyCtrl">
    {% block header %}
        <div class="navbar bg-info container-fluid center-block " >
            <div class="navbar-inner">
                <ul class="nav navbar-nav ">
                    <li ng-click="virtualPage = 'requestTable'"><a>Заявки</a></li>
                    <li ng-click="setRequestForm()"><a>Создать завку</a></li>
                    <li><a ng-click="virtualPage = 'performerForm'">Исполнители</a></li>
                    <li class=""><a href="{% url 'logout' %}" >Выйти</a></li>
                </ul>
            </div>
        </div>
    {% endblock header %}

    {% block content %}
    {#    <ng-view></ng-view>#}
        <div ng-switch on="virtualPage" class="container-fluid center-block">
            <div ng-switch-when="requestTable">
    {#        <script type="text/ng-template" id="RequestTable">#}
                {% include 'api_request_table.html' %}
    {#        </script>#}
            </div>
            <div ng-switch-when="requestForm">
    {#        <script type="text/ng-template" id="RequestForm">#}
                {% include 'api_request_form.html' %}
    {#        </script>#}
            </div>

            <div ng-switch-when="performerForm">
    {#        <script type="text/ng-template" id="PerformerForm">#}
            {% verbatim %}
                <div ng-controller="PerformerCtrl">
                    <form class="form-group form-inline" name="PerformerForm">
                        <div class="form-group">
                            <lable for="newPerformerName">Имя : </lable>
                            <input ng-model="newPerformerName" class="form-control" id="newPerformerName" maxlength="100" type="text" placeholder="Ф.И.О" />
                        </div>
                        <input ng-click="save(newPerformerName, PerformerForm)" class="btn btn-sm btn-success active" type="submit" value="Сохранить"  />
                    </form >
                    <!--div when-scrolled="loadMore()">
                        <ul>
                            <li ng-repeat="i in items" style="height: 120px; border-bottom: 1px solid gray;">{{i.id}} : {{i.counter}}</li>
                        </ul>
                    </div-->
                </div>
            {% endverbatim %}
    {#        </script>    #}
            </div>
        </div>
    {% endblock content %}
</body>
</html>