{% verbatim %}
    <div ng-controller="RequestsCtrl">
        <div class="row">
            <!--
            <input ng-init="f.out_number = f.in_number" type="hidden">
               <input ng-model="f.[in_number, out_number]" id="fNum">
                <select ng-model="f.performer" ng-options="performer.name for performer in performers" id="fPerformer" >{{ performer.name }}</select>
            -->
            <div class="col-md-2">
                <label for="fInNum" class="glyphicon">Номер Заявки: </label>
                <input ng-change="getRequests('filter')" ng-model="filters.in_number" id="fInNum" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="fOutNum" class="glyphicon">Исходящий номер: </label>
                <input ng-change="getRequests('filter')" ng-model="filters.out_number" id="fOutNum" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="fApplicant" class="glyphicon glyphicon-user">Заявитель:</label>
                <input ng-change="getRequests('filter')" ng-model="filters.applicant" id="fApplicant" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="fPerformer" class="glyphicon glyphicon-user">Исполнитель: </label>
                <!--
                <select ng-change="getRequests('filter')" ng-init="getPerformerList()" ng-model="filters.performer"
                        ng-options="performer.name as performer.name for performer in performers"
                        id="performer" class="form-control">
                    <option></option>
                </select>
                -->
                <select ng-change="getRequests('filter')" ng-init="getPerformerList()" ng-model="filters.performer"
                        id="performer" class="form-control">
                    <option value="null"></option>
                    <option ng-repeat="performer in performers" ng-class="!performer.active ? 'text-muted' : '' " >{{ performer.name }}</option>
                </select>

            </div>
            <div class="col-md-2" >
                <label for="fInDate" class="glyphicon glyphicon-calendar">Дата подачи: </label>
                <!--input ng-change="getRequests('filter')"  ng-model="filters.filling_date"  class="form-control"-->
                <input type="text" ng-model="filters.filling_date"  ng-click="open_in_date=true" ng-change="getRequests('filter')"
                    datepicker-popup="dd-MM-yyyy" is-open="open_in_date" close-text="Close" id="fInDate" class="form-control" />
                <!--input ng-click="showDatepicker()" id="fInDate"-->

            </div>
            <div class="col-md-2">
                <label for="fOutDate" class="glyphicon glyphicon-calendar">Cрок исполнения: </label>
                <!--input ng-change="getRequests('filter')" ng-model="filters.performance_date" id="fOutDate" class="form-control"-->
                <input type="text" ng-model="filters.performance_date"  ng-click="open_out_date=true" ng-change="getRequests('filter')"
                    datepicker-popup="dd-MM-yyyy" is-open="open_out_date" close-text="Close"  class="form-control" id="fOutDate"/>
            </div>
            <div class="col-md-4">
                <label for="fText" class="glyphicon glyphicon-pencil"> Текст: </label>
                <textarea ng-change="getRequests('filter')" ng-model="filters.text" class="col-md-12 form-control" id="fText"></textarea>
            </div>

            <div class="col-md-2">

                <label for="fStatus" class="glyphicon glyphicon-flag">Статус: </label>
                <select ng-init="filters.status=null" ng-model="filters.status" ng-change="getRequests('filter')" id="fStatus" class="form-control">
                    <option value="null"></option>
                    <option value="ready">готовые</option>
                    <option value="active">в работе</option>
                    <option value="overdue" selected >просроченные</option>
                </select>
            </div>

            <!--button class="btn btn-default" ng-click="getRequests()"> Update </button-->
        </div>


{{ location.path() }}


        <table  infinite-scroll='loadMore()' infinite-scroll-distance='1' class="table table-bordered table-responsive table-condensed">
            <tr>
                <!--
                <th>Номер входящей</th>
                <th>Номер исходящей</th>
                <th>Текст</th>
                <th>Дата подачи </th>
                <th>Срок исполнения</th>
                <th>Заявитель</th>
                <th>Исполнитель</th>
                <th>Редактировать</th>
                <th ng-click="sortType = sortType == 'in_number'? '-in_number' : 'in_number' " class="btn-default">Номер входящей</th>
                <th ng-click="sortType = sortType == 'out_number' ? '-out_number' : 'out_number'" class="btn-default">Номер исходящей</th>
                <th ng-click="sortType = sortType == 'text' ? 'text' : '-text'"class="btn-default">Текст</th>
                <th ng-click="sortType = sortType == 'filling_date' ? '-filling_date' : 'filling_date'" class="btn-default">Дата подачи </th>
                <th ng-click="sortType = sortType == 'performance_date' ? '-performance_date' : 'performance_date'" class="btn-default">Срок исполнения</th>
                <th ng-click="sortType = sortType == 'applicant' ? '-applicant' : 'applicant'" class="btn-default">Заявитель</th>
                <th ng-click="sortType = sortType == 'performer.name' ? '-performer.name' : 'performer.name'" class="btn-default">Исполнитель</th>
                <th >№</th>
                -->
                <th class="col-md-1" ng-click="orderBy('in_number')">Номер входящей</th>
                <th class="col-md-1" ng-click="orderBy('out_number')">Номер исходящей</th>
                <th class="col-md-4" ng-click="orderBy('text')">Текст</th>
                <th class="col-md-1" ng-click="orderBy('filling_date')">Дата подачи </th>
                <th class="col-md-1" ng-click="orderBy('performance_date')">Срок исполнения</th>
                <th class="col-md-1" ng-click="orderBy('applicant')">Заявитель</th>
                <th class="col-md-1" ng-click="orderBy('performer__name')">Исполнитель</th>
                <th class="col-md-1 editTitle" >Редактировать</th>

            </tr>
<!--
            <tr ng-dblclick="requestEdit(request.id)" ng-repeat="request in requests" ng-class="rowClass(request)">
-->
            <tr ng-dblclick="requestEdit(request.id)" ng-repeat="request in requests" ng-class="rowClass(request)">
                <td class="col-md-1">{{ request.in_number }}</td>
                <td class="col-md-1">{{ request.out_number}}</td>
                <td class="col-md-4">{{ request.text }}</td>
                <td class="col-md-1">{{ request.filling_date|date:"dd-MM-yyyy" }}</td>
                <td class="col-md-1">{{ request.performance_date|date:"dd-MM-yyyy" }}</td>
                <td class="col-md-1">{{ request.applicant }}</td>
                <td class="col-md-1">{{ request.performer.name }}</td>
                <td class="col-md-1" >
                    <!--
                <td class="col-md-1">{{ $index+1 }}</td>
                    <a ng-click="edit(request)" href="#/requests/form">Редактировать</a>
                    <a ng-click="edit(request)" href="#/requests/form/{{ request.in_number }}">Редактировать</a>
                    <a ng-click="requestEdit(request.id)" href="#/requests/form/{{ request.id }}">Редактировать</a>
                    <button ng-click="requestEdit(request.id)" class="btn btn-xs btn-default glyphicon glyphicon-edit"></button>
                    -->
                    <a href="#/requests/form/{{ request.id }}" class="btn btn-xs btn-default glyphicon glyphicon-edit"></a>
                </td>
            </tr>
        </table>
    </div>
{% endverbatim %}
