{% verbatim %}
    <div ng-controller="RequestFormCtrl" class="requestForm">
<!--
    <div ng-controller="RequestFormCtrl" class="requestForm container center-block">
        {{ request }}<br/>
        {{ request.in_number }}<br/>
        {{ request.out_number}}<br/>
        {{ request.text }}<br/>
        {{ request.filling_date|date:"dd-mm-yyyy" }}<br/>
        {{ request.performance_date|date:"dd-mm-yyyy" }}<br/>
        {{ request.applicant }}<br/>
        {{ request.performer.name }}<br/>
-->
        <div ng-if="error" class="alert alert-danger">
            {{ error }}
                    <!--ul>
            <ul>
                <li> status : {{ error.status }} </li>
                <li> headers : {{ error.headers }} </li>
                <li> config : {{ error.config }}
                <li> data : {{ error.data }} </li>
                        <li ng-repeat="conf in error.config">{{ $index }} : {{ value }}</li>
                </li>
        <form class="form-group form-inline row" name="RequestForm">
                    </ul-->
            </ul>
        </div>
        <form class="form-group row" name="RequestForm">
            <div class="form-group col-md-2">
                <lable for="applicant" class="glyphicon glyphicon-user"> Заявитель:</lable>
                <input ng-model="request.applicant" class="form-control" id="applicant" maxlength="100" type="text" required placeholder="Заявитель" />
            </div>

            <div class="form-group col-md-2 col-md-offset-8">
                <lable for="in_number" class="glyphicon" >№ входящий:</lable>
                <input ng-model="request.in_number" class="form-control" id="in_number" ng-pattern="/^\d+$/" required placeholder="Входящий номер заявки" />
            </div>

            <div class="form-group col-md-2 col-md-offset-10">
                <lable for="filling_date" class="glyphicon glyphicon-calendar">Дата подачи:</lable>
                <input ng-model="request.filling_date" class="form-control" id="filling_date" type="date" required  />
            </div>

            <div class="form-group col-md-12">
                <div>
                    <lable for="text">Текст:</lable>
                </div>
                <textarea ng-model="request.text" class="form-control" rows="10" id="text" ></textarea>
            </div>

            <div class="form-group col-md-2">
                <!--
                {{ request.performer}}<br/>
                {{ performers[4] }}<br/>
                <select ng-init="getPerformerList()" ng-model="request.performer" ng-options="performer.name for performer in performers"  class="form-control" id="performer" >{{ performer.name }}</select>
                <select ng-model="request.performer" ng-options="performer.name for performer in performers"  class="form-control" id="performer" >{{ performer.name }}</select>
                -->
                <lable for="performer" class="glyphicon glyphicon-user">Исполнитель:</lable>
                <select ng-model="request.performer" ng-options="performer.id as performer.name for performer in performers"  class="form-control" id="performer" >{{ performer.name }}</select>
            </div>

            <div class="form-group col-md-2 col-md-offset-8">
                <lable for="performance_date" class="glyphicon glyphicon-calendar">Срок исполнения:</lable>
                <input ng-model="request.performance_date" class="form-control" id="performance_date" type="date" required />
            </div>

            <div ng-if="request.id" class="form-group col-md-2 col-md-offset-10">
                <lable for="out_number" class="glyphicon">№ исходящий:</lable>
                <input ng-model="request.out_number" class="form-control" id="out_number" ng-pattern="/^\d+$/" placeholder="Номер исходящий" />
            </div>

            <div class="col-md-5 row">
                <input ng-click="redirect('requestTable')" class="btn btn-sm btn-primary active col-md-5" type="submit" value="Назад" />
                <input ng-click="saveRequest(request, RequestForm)" class="btn btn-sm btn-success active col-md-5 col-md-offset-2" type="submit" value="Сохранить"  />
            </div>
        </form>
    </div>
{% endverbatim %}