{% verbatim %}
<div ng-controller="PerformerCtrl" class="row performersPage">

    <div ng-if="error" class="alert alert-danger">
        {{ error }}
    </div>

    <table class="table-bordered table-responsive table-condensed">
        <tr>
            <th>Исполнитель</th>
            <th ng-click="gotoRequests({status:'ready'})">Закрытых</th>
            <th ng-click="gotoRequests({status:'active'})">Текущих</th>
            <th ng-click="gotoRequests({status:'overdue'})">Просроченых</th>
            <th>Статус</th>
        </tr>
        <tr ng-repeat="performer in performers">
            <td ng-click="gotoRequests({performer: performer.name})" ng-class="!performer.active ? 'text-muted' : '' " >{{ performer.name }}</td>
            <td ng-click="gotoRequests({status:'ready', performer: performer.name })" class="status_complete">{{ performer.completeCount }}</td>
            <td ng-click="gotoRequests({status:'active', performer: performer.name })" class="status_active">{{ performer.activeCount }}</td>
            <td ng-click="gotoRequests({status:'overdue', performer: performer.name })" class="status_overdue">{{ performer.overdueCount }}</td>
            <td><input type="checkbox" ng-model="performer.active" ng-change="editPerformer(performer)"></td>
        </tr>
    </table>

    <form class="form-group form-inline" name="PerformerForm">
        <div>Добавить исполнителя.</div>
        <lable class="" for="newPerformerName">Имя:</lable>
        <input ng-model="newPerformerName" class="form-control" id="newPerformerName" maxlength="100" type="text" name="newPerformerName" required unique="performers.name" placeholder="Ф.И.О" />
        <span ng-show="PerformerForm.newPerformerName.$error.unique && PerformerForm.newPerformerName.$dirty && !PerformerForm.newPerformerName.$error.required"  class="text-danger col-md-12">Исполнитель с таким именем уже есть</span>
        <input ng-click="save(newPerformerName, PerformerForm)" class="btn btn-sm btn-success" type="submit" value="Сохранить"  ng-disabled="PerformerForm.$invalid" />
    </form >
</div>
{% endverbatim %}