{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>

{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>#}
{#    <script src="{% static '/static/js/index.js' %}"></script>#}

    <link rel="stylesheet" type="text/css" href="{% static "/static/css/bootstrap.css" %}">
{#    <link href="{% static '/static/css/bootstrap-responsive.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/index.css" %}">

    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.1.4/angular-sanitize.min.js"></script>
{#    <script src="http://code.angularjs.org/1.1.4/angular-resource.js"></script>#}

    <script>

        var app = angular.module('myApp', [])

        app.config(function($routeProvider){
            $routeProvider
                .when('/requests', {
                    templateUrl: 'RequestTable',
                    controller: 'RequestsCtrl'
                })
                .when('/requests/form', {
                    templateUrl: 'RequestForm',
                    controller: 'RequestFormCtrl'
                })
                .when('/requests/form/:in_num', {
                    templateUrl: 'RequestForm',
                    controller: 'RequestFormCtrl'
                })
                .otherwise({
                    redirectTo: '/requests'
                })
        });

{#        app.factory('Performers', function($resource){})#}

{#        var Performers = $resource("/api/performer_list/:name", { name: '@name'});#}
{#        var Performers = $resource("{% url 'api_performer_list' %}/:name", { name: '@name'});#}
{#        var performer = Performers.get({name: 'zzz'}, function(){})#}
        app.controller('RequestsCtrl', function ($scope, $http, requestFactory) {
            $scope.performers = [];
{#            $scope.performers = Performers.query()#}

{#            $http.get('/api/performer_list/', data).success(function(data, status, headers, config) {#}
            $http.get('{% url 'api_request_list' %}').success(function(data, status, headers, config) {
                $scope.requests = data.results;
            });
            $http.get('{% url 'api_performer_list' %}').success(function(data, status, headers, config) {
                $scope.performers = data;
            });

            $scope.edit = function(request){
                requestFactory.request = request;
            }

        });
        app.controller('RequestFormCtrl', function($scope, $http, $routeParams, requestFactory){
            $http.get('{% url 'api_performer_list' %}')
                .success(function(data, status, headers, config) {
                    $scope.performers = data;
                    $scope.myPerformer = getPerformer($scope.request.performer.name, $scope.performers);
                }
            );

            $scope.save = function(data, form) {
                if (form.$valid) {
                }
            };
            var getPerformer = function(name, performers){
                for (var i=0; i < performers.length; i++){
                    if (performers[i].name == name){
                        return performers[i];
                    }
                }
            }
{#            $scope.request = requestFactory.request;#}
            var in_num = $routeParams["in_num"]
            if(in_num!=='undefined'){
{#                $http({method:'GET', url:'{% url 'api_request_list' %}'+ in_num +'/' ).#}
                $http.get('{% url 'api_request_list' %}'+ in_num +'/')
                    .success(function(data) {
                        $scope.request = data;
{#                        $scope.request.performer = getPerformer($scope.request.performer.name, $scope.performers);#}

                    }
                );
            }

        });

        app.factory('requestFactory', function(){
            return {
                request: 'test factory'
            };
        })

    </script>
</head>
<body>

    <div class="container-fluid navbar bg-info">
        <div class="navbar-inner ">
            <ul class="nav navbar-nav ">
                <li class=""><a href="#/requests">Заявки</a></li>
                <li class=""><a href="#/requests/form">Создать завку</a></li>
                <li class=""><a href="#/logout" >Выйти</a></li>
            </ul>
        </div>
    </div>


    <ng-view></ng-view>

    <script type="text/ng-template" id="RequestTable">
        {% include 'api_request_table.html' %}
    </script>

    <script type="text/ng-template" id="RequestForm">
        {% include 'api_request_form.html' %}
    </script>

</body>
</html>