{% extends 'base.html' %}

{% block title %}
        Создание заявки
{% endblock title %}

{% block content %}
    {% block error %}
        <h3>{{ error }}</h3>
    {% endblock error %}

    <h1>Add Contact</h1>

    <form action="{% url 'request_form_view' %}" method="POST">
          {% csrf_token  %}
          <ul>
{#            {{ form.as_ul }}#}
            {{ form }}
          </ul>
          <input id="save_contact" type="submit" value="Save" />
    </form>

    <a href="{% url 'perf_view' %}">back to list</a>


    <a href="{% url 'requests' %}" >Отмена</a>
{% endblock content %}