{% extends 'base.html' %}

{% block title %}
        Создание заявки
{% endblock title %}

{% block content %}
    {% block error %}
        <h3>{{ error }}</h3>
    {% endblock error %}
        <form class="form-group form-inline row"  method="post" action="{% url 'request_form' %}">
            {% csrf_token %}
            {% if edit %}
                <input type="hidden" name="form_type" value="edit">
            {% else %}
                <input type="hidden" name="form_type" value="create">
            {% endif %}

            <div class="form-group col-md-4">
                {{ form.applicnat.errors }}
                <lable for="id_applicnat" >Заявитель:</lable>
                {{ form.applicnat }}
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                {{ form.in_number.errors }}
                <lable for="id_in_number">№ входящий:</lable>
                {{ form.in_number }}
            </div>

            <div class="form-group col-md-4 col-md-offset-8" >
                {{ form.filling_date.errors }}
                <lable for="id_filling_date">Дата подачи:</lable>
                {{ form.filling_date }}
            </div>

            <div class="form-group col-md-12">
                {{ form.text.errors }}
                <lable for="id_text">Текст:</lable>
                {{ form.text }}
            </div>

            <div class="form-group col-md-4">
                {{ form.performer.errors }}
                <lable for="id_performer">Исполнитель:</lable>
                {{ form.performer }}
            </div>

            <div class="form-group col-md-4 col-md-offset-4">
                {{ form.performance_date.errors }}
                <lable for="id_performance_date">Срок исполнения:</lable>
                {{ form.performance_date }}
            </div>

            {% if edit %}
                <div class="form-group col-md-4 col-md-offset-4">
                    {{ form.out_number.errors }}
                    <lable for="id_out_number">№ исходящий:</lable>
                    {{ form.out_number }}
                </div>
            {% endif %}

        <input class="btn btn-sm btn-success active col-md-1 col-md-offset-10" type="submit" value="Сохранить" />

    </form>

{#    <a class="btn btn-sm btn-primary active col-md-1 col-md-offset-1" href="{% url 'requests' %}" role="button" >Назад</a>#}

{% endblock content %}