{% extends 'base.html' %}

{% block title %}
    Заявки
{% endblock title %}

{% block content %}

    <h4>Заявки</h4>
    <table class="table table-bordered table-responsive table-condensed">
        <tr>
            <th>Номер входящей</th>
            <th>Номер исходящей</th>
            <th>Текст</th>
            <th>Дата подачи </th>
            <th>Срок исполнения</th>
            <th>Заявитель</th>
            <th>Исполнитель</th>
            <th>Редактировать</th>
        </tr>
        {% for request in Requests %}
        <tr class="request">
            <td class="req_in_num">{{ request.in_number }}</td>
            <td class="req_out_num">{{ request.out_number|default_if_none:"" }}</td>
            <td class="req_text">{{ request.text }}</td>
            <td class="req_in_date">{{ request.filling_date|date:"d-m-Y" }}</td>
            <td class="req_out_date">{{ request.performance_date|date:"d-m-Y" }}</td>
            <td class="req_applicant">{{ request.applicnat }}</td>
            <td class="req_performer">{{ request.performer.name }}</td>
            <td class="chng_button">
                <a href="{% url 'request_form' %}?type=edit&in_num={{ request.in_number }}">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'request_form' %}" >Создать заявку</a>


{% endblock %}